:root {
  --strongPass: #73ba72;
  --weekPass: #f67c54;
  --badPass: #ce422d;
}

.main-content {
  /* width: 100vw; */
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e7ebf0;
  row-gap: 20px;
}
.pass-card {
  width: 80vw;
  height: 27vh;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  /* box-shadow: none !important; */
}
.password {
  width: fit-content;
}
.pass-options {
  min-height: 50vh;
  width: 80vw;
  margin: 0;
  padding: 25px 40px;
}

.password-display {
  display: flex;
  width: 85%;
  height: 45%;
  margin-top: -20px;
  color: white;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 2px solid #e7ebf0;
}

.icons {
  font-size: 2rem !important;
  cursor: pointer;
  transition: transform 0.5s !important;
}

.white {
  color: white;
}
.rotate-refresh {
  transform: rotate(180deg);
}
.label {
  text-transform: capitalize;
}
.check-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.slider {
  margin-top: 60px !important;
}
.pass-options > p {
  font-size: 1.1em;
}
.pass-status {
  position: absolute;
  left: 7.5%;
  bottom: 10%;
  color: rgb(227, 226, 226);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

@media only screen and (max-width: 400px) {
  .pass-card {
    width: 100vw;
  }
  /* .password {
    font-size: 0.2rem !important;
  } */
  .pass-options {
    width: 95vw;
  }
  .icons {
    font-size: 1.7rem !important;
    margin: 0 !important;
  }
}
.main-content__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* @media (min-width: 1200px) {
  .main-content {
    max-width: 1200px;
    border: solid;
  }
} */
