.password--wrapper {
  display: flex;
  align-items: center;
  height: calc(100vh - 64px);
  justify-content: center;
  text-align: center;
}
.password-form__header {
  font-size: 1.5rem;
  font-weight: 700;
}
.password-form {
  width: 30vw;
  display: flex;
  flex-direction: column;
}
.password-form form {
  background-color: #eeeeee;
  padding: 1.25rem;
  border-radius: 0.5rem;
}
.disclaimer {
  font-size: 0.75rem;
  text-align: justify;
  padding: 0.75rem;
  color: #ef5350;
  line-height: 125%;
}
