:root {
  --default: #9fccf5;
  --strong: #73ba72;
  --week: #fab650;
  --bad: #f56551;
}

.card--wrapper .d-card {
  width: 200px;
  height: 70px;
  padding: 0.75rem;
}
.left-content {
  line-height: 125%;
}
.left-content p {
  font-size: 0.75rem;
  margin: 0 !important;
  padding: 0 !important;
}
.card-content {
  display: flex;
  align-items: center;
}
.card-content .left-content {
  flex-grow: 1;
}
.card-content .right-content {
  font-size: 1.75rem;
}
.vault-modal {
  position: relative;
}
.alert {
  position: absolute !important;
  top: 0px;
  width: 100%;
  z-index: 0;
  transform: translateY(0);
  transition: all 0.5s ease-in-out !important;
}
.vault-modal__header {
  z-index: 100;
  background-color: #ffffff;
}
.alert.active-alert {
  transform: translateY(45px);
  transition: all 0.5s ease-in-out;
}
