.link {
  color: black !important;
}

.home:hover {
  text-decoration: none !important;
}
.home:active {
  transform: rotate(67deg);
  color: red !important;
}

header {
  width: 50px !important;
  height: calc(100vh - 20px);
  background-color: #ffff;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
  gap: 10px;
  position: relative;
}
.active {
  color: #007bff !important;
  font-size: large;
  border-bottom: solid #007bff;
  padding-bottom: 5px;
}
.add {
  position: absolute;
  bottom: 10px;
}
